<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.pjtFinal.model.dao.UserDao">
    <!--유저 등록-->
    <insert id="userInsert">
        INSERT INTO user (user_id, user_pw, user_nick_name, user_email, user_phone, user_birth, created_at)
        VALUES(#{userId}, #{userPw}, #{userNickName}, #{userEmail}, #{userPhone}, #{userBirth}, current_timestamp())
    </insert>

    <!--유저 하나 조회-->
    <select id="userSelectOne" parameterType="String" resultType="User">
        SELECT * FROM user
        WHERE user_id=#{userId}
    </select>

    <!--아이디 찾기 -->
    <select id="findId" parameterType="FindIdRequest" resultType="String">
        SELECT user_id FROM user
        <if test="findBy == 'email'">
            WHERE user_nick_name = #{userNickName} and user_email = #{userData}
        </if>
        <if test="findBy == 'phone'">
            WHERE user_nick_name = #{userNickName} and user_phone = #{userData}
        </if>
    </select>

    <!--비밀번호 찾기-->
    <select id="findPw" parameterType="FindPwRequest" resultType="Integer">
        SELECT 1 FROM user

        WHERE user_id = #{userId} and user_phone = #{userPhone}
    </select>

    <!--비밀번호 재설정-->
    <update id="resetPw" parameterType="ResetPwRequest">
        UPDATE user
        SET user_pw = #{newPw}
        WHERE user_id = #{userId}
    </update>

    <!--유저 전체 조회-->
    <select id="userSelectAll" resultType="User">
        SELECT * FROM user
    </select>

    <!--유저 수정-->
    <update id="userUpdate" parameterType="User">
        UPDATE user SET
        user_id=#{userId},user_pw=#{userPw},user_nick_name=#{userNickName},user_email=#{userEmail},
        user_phone=#{userPhone}
        WHERE user_id=#{userId}
    </update>

    <!-- 프로필 사진 업로드 -->
    <update id="updateProfileImg">
        UPDATE user SET
        profile_img = #{fileUrl}
        WHERE user_id = #{userId}
    </update>

    <!--유저 삭제-->
    <delete id="userDelete" parameterType="String">
        DELETE FROM user
        WHERE user_id=#{userId}
    </delete>
</mapper>